body {
  background-color: #010100;
  color: #f6f2fb;
  font-family: 'Roboto Mono', monospace;
}
/* #8aec0a */
h2, h3{
	color: #7a56d0;
	text-shadow: 1px 1px 2px #000000;
}

.navbar-purple {
  background-color: #010100;
}

.navbar-btn {
  margin: 2px 2px;
}
.title {
  text-align: center;
  width: 60%;
}
.about > p {
	text-align: justify;
}

#title-header{
  margin-top: 20%;
  font-family: 'Share Tech Mono', monospace;
  font-size: 4rem;
  text-shadow: 1px 1px 2px #000000;
}

#brand-img {
  width: 8%;
}

#robot-img {
  width: 400px;
  margin: 50px 30px 50px 20px;
}
